*       text eol=lf

*.c     text eol=lf
*.cpp   text eol=lf linguist-documentation
*.cmake text eol=lf
*.def   text eol=crlf
*.h     text eol=lf linguist-language=C
*.hpp   text eol=lf linguist-documentation
*.i     text eol=lf
*.mc    text eol=crlf
*.pl    text eol=lf
*.ps1   text eol=crlf
*.sh    text eol=lf
*.svg   text eol=lf
*.rb    text eol=lf
*.txt   text eol=lf
*.xml   text eol=lf
*.yml   text eol=lf
