language: c

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env:
        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6" CXX_FLAGS=-std=c++11
    - os: linux
      dist: trusty
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
        sonarcloud:
          organization: "goatshriek-github"
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7" CXX_FLAGS=-std=c++11
    - os: osx
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++" CXX_FLAGS=-std=c++11

before_install:
  - eval "${MATRIX_EVAL}"

before_script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_C_COMPILER="${CC}" -DCMAKE_CXX_COMPILER="${CXX}" -DCOVERAGE=ON ..

script:
  - build-wrapper-linux-x86-64 --out-dir ../bw-output make all || make all
  - make CTEST_OUTPUT_ON_FAILURE=1 check

after_success:
  - cd ..
  - bash <(curl -s https://codecov.io/bash)
  - sonar-scanner
