name: "Locale"

on:
  push:
    branches: [ latest ]
  pull_request:
    branches: [ latest ]

env:
  CTEST_OUTPUT_ON_FAILURE: 1

jobs:
  linux-de-de:
    name: "linux, de-de"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "de_DE.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"de-DE\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-cz-cz:
    name: "linux, cz-cz"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "cz_ES.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"cz-CZ\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-es-es:
    name: "linux, es-es"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "es_ES.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"es-ES\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-fr-fr:
    name: "linux, fr-fr"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "fr_FR.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"fr-FR\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-it-it:
    name: "linux, it-it"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "it_IT.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"it-IT\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-sk-sk:
    name: "linux, sk-sk"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "sk_SK.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"sk-SK\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-pl-pl:
    name: "linux, pl-pl"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "pl_PL.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"pl-PL\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-sv-se:
    name: "linux, sv-se"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "sv_SE.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"sv-SE\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-bg-bg:
    name: "linux, bg-bg"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "bg_BG.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"bg-BG\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-el-gr:
    name: "linux, el-gr"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "el_GR.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"el-GR\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-pt-br:
    name: "linux, pt-br"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "pt_BR.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"pt-BR\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-zh-cn:
    name: "linux, zh-cn"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "zh_CN.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"zh-CN\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-hi-in:
    name: "linux, hi-in"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "hi_IN.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"hi-IN\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-bn-in:
    name: "linux, bn-in"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "bn_IN.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"bn-IN\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi
  linux-da-dk:
    name: "linux, da-dk"
    runs-on: "ubuntu-20.04"
    env:
      LANG: "da_DK.UTF-8"
    steps:
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cmake .
      - name: Check Language
        run: |
          grep -q "STUMPLESS_LANGUAGE \"da_DK\"" include/stumpless/config.h
      - name: Build
        run: |
          make all
      - name: Test
        run: |
          make check
          if grep "DEPRECATED" Testing/Temporary/LastTest.log; then exit 1; fi

